#mainAnchorPane {
    -fx-background-color: #E5E8EF; /* Soft gray background similar to the admin page */
}

.titleLabel {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: #34495E; /* Dark gray for titles */
    -fx-padding: 0 0 20 0;
}

.subTitleLabel {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #34495E; /* Matching subheading style */
}

.inputField {
    -fx-background-color: #f3f4f6;
    -fx-border-radius: 8px;
    -fx-border-color: #d1d5db;
    -fx-font-size: 14px;
    -fx-padding: 10px;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.05), 5, 0, 0, 1);
    -fx-margin-bottom: 15px;
}

.inputField:focused {
    -fx-border-color: #3b82f6;
    -fx-effect: dropshadow(one-pass-box, rgba(59, 130, 246, 0.3), 8, 0, 0, 2);
}

.loginButton {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.2), 4, 0.0, 0, 2);
    -fx-cursor: hand;
    -fx-transition: all 0.3s ease;
}

.loginButton:hover {
    -fx-background-color: #2980b9;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.3), 6, 0.0, 0, 4);
}

.loginButton:pressed {
    -fx-background-color: #1c6398;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.2), 2, 0.0, 0, 1);
    -fx-translate-y: 2px;
}

.adminUserButton {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.2), 4, 0.0, 0, 2);
    -fx-cursor: hand;
    -fx-transition: all 0.3s ease;
}

.adminUserButton:hover {
    -fx-background-color: #2980b9;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.3), 6, 0.0, 0, 4);
}

.adminUserButton:pressed {
    -fx-background-color: #1c6398;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.2), 2, 0.0, 0, 1);
    -fx-translate-y: 2px;
}

#logoAnchorPane {
    -fx-background-color: #FFFFFF;
}
